<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ias.gsscore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>
    

    <application
        android:name="com.ias.gsscore.utils.SingletonClass"
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/Theme.Oodles">
        <activity
            android:name="com.ias.gsscore.ui.activity.MainTestVideoDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.FeedbackFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.TestResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.TakeTestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.MentorBoxActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.ContainerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.PersonalProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.ProfileSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.MaterialReportDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.MaterialBlogsDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ias.gsscore.ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ias.gsscore.ui.activity.CourseFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.CartItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.OrderSummaryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.ConfirmOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ias.gsscore.ui.activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.OrderPlacedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.OrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.OrderDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.MainTestRankDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ias.gsscore.ui.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="NotificationActivity" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity
            android:name="com.ias.gsscore.ui.activity.VideoWebViewActivity"
           android:screenOrientation="landscape"
             />
        <activity
            android:name="com.ias.gsscore.ui.activity.VideoDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ias.gsscore.ui.activity.StrategyVideoDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"  />

        <activity
            android:name="com.ias.gsscore.ui.activity.YouTubeVideoActivity"
            android:theme="@style/AppTheme.NoActionBar"  />

        <activity android:name="com.payu.custombrowser.PreLollipopPaymentsActivity"
            android:exported="true">
            <intent-filter>
                <data android:scheme="${applicationId}.success" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="${applicationId}.failure" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ias.gsscore.fcm.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fetchh-channel" />
     <!--   <activity
            android:name="com.payumoney.sdkui.ui.activities.PayUmoneyActivity"
            android:label="@string/title_activity_citrus"
            android:screenOrientation="portrait"
            android:theme="@style/PayumoneyAppTheme"
            android:windowSoftInputMode="adjustPan" />-->
    </application>

</manifest>